DATABASE_URL=postgres://postgres:your-password@db.your-project-ref.supabase.co:5432/postgres
BETTER_AUTH_SECRET=your-random-secret-string
BETTER_AUTH_URL=http://localhost:8787
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
